* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
    justify-content: space-evenly;
  border: 2px solid rebeccapurple;
  display: flex;
  top: 90vh;
  /* bottom: 0; */
  position: relative;
  width: 100vw;
  /* height: 200px; */
}
img {
  height: 50px;
  width: 50px;
}
